@import '../shared/common.scss';

.location .city {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    font-size: 10px;
}

.current .temp {
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.4);
}

.current .hi-low, .sun {
    font-size: 15px;
    font-weight: 200;
}